{
    "presets": [
        [
            "env",
            {
                "modules": false // not converting to commonjs (default behaviour)
            }
        ]
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}